/*=====================================
=            Common styles            =
=====================================*/
html {
	font-size: 62.5%;
}
html, body {
	height: 100%;
	user-select: text;
}
* {
	box-sizing: border-box;
}

