/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}
body
{
    line-height: 1;
}
ol,
ul
{
    list-style: none;
}
blockquote,
q
{
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}
table
{
    border-spacing: 0;
    border-collapse: collapse;
}
/*=====================================
=            Common styles            =
=====================================*/
html
{
    font-size: 62.5%;
}
body
{
    font-family: 'Lato', sans-serif;
    font-weight: 400;

    color: #585858;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    body
    {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    body
    {
        font-size: 1.8rem;
        line-height: 2.4redm;
    }
}
html,
body
{
    height: 100%;

    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}
*
{
    box-sizing: border-box;
}
.inject-svg
{
    display: block;

    width: 0;
    height: 0;
}
.container
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 100%;
    height: auto;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
.wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    max-width: 980px;
    margin: 0 auto;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .wrapper
    {
        max-width: 100%;
        padding: 0 14px;
    }
}
.wrapper .mobile,
.wrapper .desktop
{
    display: none;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .wrapper .mobile
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .wrapper .desktop
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
/*==============================
=            HEADER            =
==============================*/
.header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    width: 100%;

    transition: all .2s ease-out;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .header
    {
        height: 384px;
        padding-top: 98px;
        padding-bottom: 21px;

        background: url('../images/banner-small.jpg') no-repeat center;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .header
    {
        min-height: 773px;
        padding: 58px 0 50px;

        background: url('../images/banner.jpg') no-repeat center;
        background-size: cover;
    }
}
h1
{
    font-weight: 700;

    text-align: center;

    color: #fff;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    h1
    {
        font-size: 3.6rem;
        line-height: 3.8rem;

        margin-bottom: 35px;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    h1
    {
        font-size: 5.2rem;
        line-height: 6.4rem;

        max-width: 886px;
    }
}
.buttons
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.btn
{
    font-family: inherit;

    transition: all .2s linear;
    text-align: center;
    text-decoration: none;

    color: #fff;
    border: none;
    outline: none;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .btn
    {
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 1.6rem;

        width: 134px;
        height: 47px;
        margin: 0 12px;

        border-radius: 6px;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .btn
    {
        font-size: 2.4rem;
        line-height: 6rem;

        width: 274px;
        height: 64px;

        border-radius: 4px;
    }
}
.btn--orange
{
    background-color: #f80;
}
.btn--blue
{
    background-color: #0073ae;
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .btn--blue
    {
        display: none;
    }
}
.btn:hover
{
    cursor: pointer;

    opacity: .9;
}
/*================================
=            Features            =
================================*/
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .features
    {
        padding-top: 89px;
    }
}
.features__section
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .features__section
    {
        margin-top: 35px;
    }
}
.features__section:not(:last-child)
{
    border-bottom: 1px solid #e4e4e4;
}
.features__header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .features__header
    {
        position: relative;

        border-width: 0 1px 0 1px;
        border-style: solid;
        border-color: #e4e4e4;

        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .features__header
    {
        padding-bottom: 22px;

        border-bottom: 1px solid #e4e4e4;
    }
}
.features__heading
{
    width: 50%;

    text-align: center;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .features__heading
    {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.4rem;

        margin-top: 23px;

        text-transform: uppercase;
    }
    .features__heading.active
    {
        color: #0073ae;
    }
    .features__heading:hover,
    .features__heading:focus
    {
        cursor: pointer;

        color: #0073ae;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .features__heading
    {
        font-size: 3.4rem;
        font-weight: 300;
        line-height: 6.3rem;

        color: #0073ae;
    }
}
.features__heading:last-child
{
    border-left: 1px solid #e4e4e4;
}
.features__image
{
    width: 100%;
    height: 186px;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .features__image
    {
        overflow: hidden;

        height: 160px;

        opacity: .8;
        border: 1px solid #e6e6e6;
        border-radius: 4px 4px 0 0;
        background-color: #f7f7f7;
        background-color: whitesmoke;

        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .features__image svg
    {
        position: relative;
        top: 17px;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .features__image
    {
        margin-top: 7.6530612%;
        margin-bottom: 6.734693878%;
    }
}
.features__image svg
{
    width: 100%;
    height: 100%;
}
.features__footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .features__footer
    {
        margin-bottom: -6px;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .features__footer
    {
        margin-bottom: 6.4285714%;
    }
}
.features__text
{
    font-weight: 300;

    padding: 0 8.163265306%;

    color: #585858;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .features__text
    {
        display: none;

        width: 100%;
        padding: 15px;
        padding-bottom: 58px;

        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: #e4e4e4;
    }
    .features__text.active
    {
        display: block;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .features__text
    {
        width: 42.857142857%;

        text-align: center;
    }
}
.features__icon
{
    width: 40px;
    height: 40px;
    margin: 0 6.12244898%;

    background-image: url(../images/sprite/sprite-png.png);
    background-position: 0 0;

    -ms-flex-negative: 0;
    flex-shrink: 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
{
    .features__icon
    {
        background-image: url(../images/sprite/sprite-png-retina.png);
        background-size: 55px 40px;
    }
}
.triangle
{
    position: absolute;
    top: -10px;
    left: calc(25% - 5px);

    transition: all .2s linear;
}
.triangle--front
{
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 1px;

    display: block;

    width: 0;
    height: 0;

    content: '';
    -moz-transform: scale(.9999);

    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
    border-left: 9px solid transparent;
}
.triangle--back
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 0;
    height: 0;

    content: '';
    -moz-transform: scale(.9999);

    border-right: 10px solid transparent;
    border-bottom: 10px solid #888;
    border-left: 10px solid transparent;
}
.owl-carousel
{
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;

    display: none;

    width: 100%;

    -webkit-tap-highlight-color: transparent;
}
.owl-carousel .owl-stage
{
    position: relative;

    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after
{
    line-height: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '.';
}
.owl-carousel .owl-stage-outer
{
    position: relative;

    overflow: hidden;
    /* fix for flashing background */

    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
}
.owl-carousel .owl-item
{
    position: relative;

    float: left;

    min-height: 1px;

    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.owl-carousel .owl-item img
{
    display: block;

    width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled
{
    display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot
{
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.owl-carousel.owl-loaded
{
    display: block;
}
.owl-carousel.owl-loading
{
    display: block;

    opacity: 0;
}
.owl-carousel.owl-hidden
{
    opacity: 0;
}
.owl-carousel.owl-refresh .owl-item
{
    visibility: hidden;
}
.owl-carousel.owl-drag .owl-item
{
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.owl-carousel.owl-grab
{
    cursor: move;
    cursor: -webkit-grab;
    cursor:         grab;
}
.owl-carousel.owl-rtl
{
    direction: rtl;
}
.owl-carousel.owl-rtl .owl-item
{
    float: right;
}
/* No Js */
.no-js .owl-carousel
{
    display: block;
}
/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated
{
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms;

    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
}
.owl-carousel .owl-animated-in
{
    z-index: 0;
}
.owl-carousel .owl-animated-out
{
    z-index: 1;
}
.owl-carousel .fadeOut
{
    -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
}
@-webkit-keyframes fadeOut
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
@keyframes fadeOut
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
/*
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height
{
    transition: height 500ms ease-in-out;
}
/*
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy
{
    transition: opacity 400ms ease;

    opacity: 0;
}
.owl-carousel .owl-item img.owl-lazy
{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
/*
 *  Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper
{
    position: relative;

    height: 100%;

    background: #000;
}
.owl-carousel .owl-video-play-icon
{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    width: 80px;
    height: 80px;
    margin-top: -40px;
    margin-left: -40px;

    cursor: pointer;
    transition: -webkit-transform 100ms ease;
    transition:         transform 100ms ease;
    transition:         transform 100ms ease, -webkit-transform 100ms ease;

    background: url('owl.video.play.png') no-repeat;

    -webkit-backface-visibility: hidden;
}
.owl-carousel .owl-video-play-icon:hover
{
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon
{
    display: none;
}
.owl-carousel .owl-video-tn
{
    height: 100%;

    transition: opacity 400ms ease;

    opacity: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.owl-carousel .owl-video-frame
{
    position: relative;
    z-index: 1;

    width: 100%;
    height: 100%;
}
.owl-dots
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.owl-dot
{
    width: 11px;
    height: 11px;
    margin: 0 5px;

    border-radius: 50%;
    background-color: #e6e6e6;
}
.owl-dot.active
{
    border: 1px solid #585858;
    background-color: #fff;
}
.off
{
    display: block;
}
/*=============================
=            Plans            =
=============================*/
.plans
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .plans
    {
        width: 100%;
        margin-bottom: 45px;
        padding-top: 50px;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .plans
    {
        padding-top: 87px;
    }
}
.plan
{
    position: relative;

    width: 100%;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .plan
    {
        width: 100%;
        margin-bottom: 15px;
        padding: 0 10px;

        border-radius: 5px;
        background-color: #0073ae;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .plan
    {
        width: 31.93877551%;
    }
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .plan--marked
    {
        margin-top: 30px;
    }
}
.plan--marked::before
{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 3.2rem;

    position: absolute;
    z-index: -1;
    top: -30px;
    left: 0;

    width: 100%;
    height: 34px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
    background-color: #60aeea;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .plan--marked::before
    {
        font-weight: 700;

        content: 'Best value';

        border-radius: 5px 5px 0 0;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .plan--marked::before
    {
        content: 'most popular';

        border-radius: 6px 6px 0 0;
    }
}
.plan.active .plan__list
{
    max-height: 400px;
    margin-top: 20px;
}
.plan.active .plan__trigger-text
{
    display: none;
}
.plan.active .plan__arrow
{
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}
.plan__header
{
    font-size: 2.4rem;

    position: relative;

    text-align: center;
    text-transform: uppercase;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .plan__header
    {
        font-weight: 700;
        line-height: 5.9rem;

        text-transform: uppercase;

        color: #fff;
    }
    .plan__header::after
    {
        position: absolute;
        top: 60px;
        left: 0;

        display: block;

        width: 100%;
        height: 1px;

        content: '';

        background-color: #4394c0;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .plan__header
    {
        font-weight: 900;
        line-height: 10rem;

        height: 100px;

        color: #585858;
        border-radius: 6px 6px 0 0;
        background-color: #f8f8f8;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .plan__header--marked
    {
        color: #fff;
        background-color: #0073ae;
    }
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .plan__list
    {
        overflow: hidden;

        max-height: 0;

        transition: all .4s linear;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .plan__list
    {
        padding: 6.389776358% 6.389776358% 0;

        border-width: 0 1px 0 1px;
        border-style: solid;
        border-color: #e4e4e4;
    }
}
.plan__list-item
{
    font-size: 1.4rem;
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .plan__list-item
    {
        font-size: 1.4rem;
        line-height: 1.6rem;

        position: relative;

        margin-bottom: 20px;
        padding: 0 32px 0 52px;

        color: #fff;
    }
    .plan__list-item::before
    {
        position: absolute;
        top: 50%;
        left: 26px;

        display: block;

        width: 9px;
        height: 9px;

        content: '';
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);

        border-radius: 50%;
        background-color: #fff;
    }
    .plan__list-item br
    {
        display: none;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .plan__list-item
    {
        padding: 16px 20px;

        color: #585858;
    }
    .plan__list-item:not(.plan__list-item--border-free)
    {
        border-bottom: 1px solid #e4e4e4;
    }
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .plan__list-item--head
    {
        display: none;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .plan__list-item--head
    {
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 2.4rem;

        background-color: #f8f8f8;
    }
}
@media only screen and (min-width : 320px) and (max-width : 768px)
{
    .plan__trigger
    {
        font-size: 1.2rem;
        line-height: 3.6rem;

        position: relative;

        margin-top: 1px;

        text-align: center;
        text-transform: uppercase;

        color: #fff;
    }
    .plan__trigger:hover,
    .plan__trigger:focus
    {
        cursor: pointer;
    }
    .plan__trigger::before
    {
        position: relative;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 1px;

        content: '';

        background-color: #4394c0;
    }
}
@media only screen and  (min-width: 769px)
                  and (-webkit-min-device-pixel-ratio: 1)
{
    .plan__trigger
    {
        display: none;
    }
}
.plan__trigger-text
{
    margin-right: 10px;
}
.plan__arrow
{
    position: relative;
    top: -1px;

    display: inline-block;

    width: 8px;
    height: 5px;

    transition: all .2s linear;

    background-image: url(../images/sprite/sprite-png.png);
    background-position: -40px -15px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
{
    .plan__arrow
    {
        background-image: url(../images/sprite/sprite-png-retina.png);
        background-size: 55px 40px;
    }
}
/*==============================
=            Footer            =
==============================*/
.footer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 75px;
    margin-bottom: 68px;

    border: 1px solid #e4e4e4;
    border-radius: 0 0 6px 6px;
    background-color: #f8f8f8;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.footer__handler
{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 7.5rem;

    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    color: #0073ae;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer__handler::after
{
    display: block;

    width: 15px;
    height: 15px;
    margin-left: 11px;

    content: '';

    background-image: url(../images/sprite/sprite-png.png);
    background-position: -40px 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
{
    .footer__handler::after
    {
        background-image: url(../images/sprite/sprite-png-retina.png);
        background-size: 55px 40px;
    }
}
