html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
* {
  box-sizing: border-box;
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `retina-sprite` class sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

@icon-home-group: 'icon-home' @icon-home @icon-home-2x;

.icon-home {
  .retina-sprite(@icon-home-group);
}
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
/*
The `.retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in LESS

.retina-sprites(@retina-groups);
*/
@font-face {
  font-family: 'akrobatblack';
  src: url('../fonts/akrobat-black-webfont.eot');
  src: url('../fonts/akrobat-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/akrobat-black-webfont.woff2') format('woff2'), url('../fonts/akrobat-black-webfont.woff') format('woff'), url('../fonts/akrobat-black-webfont.ttf') format('truetype'), url('../fonts/akrobat-black-webfont.svg#akrobatblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'akrobatregular';
  src: url('../fonts/akrobat-regular-webfont.eot');
  src: url('../fonts/akrobat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/akrobat-regular-webfont.woff2') format('woff2'), url('../fonts/akrobat-regular-webfont.woff') format('woff'), url('../fonts/akrobat-regular-webfont.ttf') format('truetype'), url('../fonts/akrobat-regular-webfont.svg#akrobatregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'akrobatthin';
  src: url('../fonts/akrobat-thin-webfont.eot');
  src: url('../fonts/akrobat-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/akrobat-thin-webfont.woff2') format('woff2'), url('../fonts/akrobat-thin-webfont.woff') format('woff'), url('../fonts/akrobat-thin-webfont.ttf') format('truetype'), url('../fonts/akrobat-thin-webfont.svg#akrobatthin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeAndSlide {
  20% {
    opacity: 1;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes fadeAndSlide {
  20% {
    opacity: 1;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.content {
  background: url('../images/bg.jpg') center;
  min-height: 100%;
  background-size: cover;
  color: #fff;
}
.wrapper {
  max-width: 1435px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  transition: all 0.2s linear;
}
.wrapper > * {
  opacity: 0;
}
.wrapper.disabled {
  opacity: 0;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4.947735192%;
  opacity: 0;
  -webkit-animation: fadeIn 4s forwards;
          animation: fadeIn 4s forwards;
  top: 50%;
  -webkit-animation: fadeIn 1.7s ease-in forwards;
          animation: fadeIn 1.7s ease-in forwards;
}
.logo__icon {
  display: block;
  background-image: url(../images/sprite/sprite-png.png);
  background-position: -504px 0px;
  width: 116px;
  height: 117px;
  -webkit-animation: spin 8s linear infinite;
          animation: spin 8s linear infinite;
  margin-right: 24px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo__icon {
    background-image: url(../images/sprite/sprite-png-retina.png);
    background-size: 620px 500px;
  }
}
.logo__text {
  font-family: 'akrobatblack';
  font-size: 90px;
  color: #fff;
  text-transform: uppercase;
}
.title {
  font-family: 'akrobatregular';
  font-size: 60px;
  text-transform: uppercase;
  -webkit-animation: fadeIn 1.7s ease-in forwards;
          animation: fadeIn 1.7s ease-in forwards;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 8.93728223%;
  -webkit-animation: fadeIn 0.7s ease-in forwards;
          animation: fadeIn 0.7s ease-in forwards;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}
.portfolio__item:nth-child(1) .portfolio__link {
  background-image: url(../images/sprite/sprite-png.png);
  background-position: -253px 0px;
  width: 251px;
  height: 249px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .portfolio__item:nth-child(1) .portfolio__link {
    background-image: url(../images/sprite/sprite-png-retina.png);
    background-size: 620px 500px;
  }
}
.portfolio__item:nth-child(2) .portfolio__link {
  background-image: url(../images/sprite/sprite-png.png);
  background-position: -253px -249px;
  width: 246px;
  height: 247px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .portfolio__item:nth-child(2) .portfolio__link {
    background-image: url(../images/sprite/sprite-png-retina.png);
    background-size: 620px 500px;
  }
}
.portfolio__item:nth-child(3) .portfolio__link {
  background-image: url(../images/sprite/sprite-png.png);
  background-position: 0px -249px;
  width: 250px;
  height: 251px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .portfolio__item:nth-child(3) .portfolio__link {
    background-image: url(../images/sprite/sprite-png-retina.png);
    background-size: 620px 500px;
  }
}
.portfolio__item:nth-child(4) .portfolio__link {
  background-image: url(../images/sprite/sprite-png.png);
  background-position: 0px 0px;
  width: 253px;
  height: 249px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .portfolio__item:nth-child(4) .portfolio__link {
    background-image: url(../images/sprite/sprite-png-retina.png);
    background-size: 620px 500px;
  }
}
.portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-family: 'akrobatblack';
  font-size: 42px;
  text-decoration: none;
  -webkit-animation: fadeIn 1.7s ease-in forwards;
          animation: fadeIn 1.7s ease-in forwards;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.portfolio__link:hover {
  opacity: .75;
}
.order-btn {
  background: transparent;
  border: 5px solid #fff;
  border-radius: 2px;
  color: #fff;
  font-family: 'akrobatblack';
  font-size: 90px;
  text-transform: uppercase;
  padding: 0 14px;
  height: 133px;
  margin-top: 10.348432056%;
  -webkit-animation: fadeIn 1s forwards;
          animation: fadeIn 1s forwards;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}
.order-btn:hover {
  cursor: pointer;
}
.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 13.860627178%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  transition: all 0.4s linear;
}
.contact-form.enabled {
  top: 0;
  opacity: 1;
  z-index: 2;
}
.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 640px;
}
.form-group:nth-child(n+2) {
  margin-top: 50px;
}
.form-group:last-child {
  margin-top: 95px;
}
.form-group__input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 36px;
  font-family: 'akrobatthin';
  text-transform: uppercase;
  width: 100%;
}
.form-group__input::-webkit-input-placeholder {
  color: #fff;
}
.form-group__input:-moz-placeholder {
  color: #fff;
}
.form-group__input::-moz-placeholder {
  color: #fff;
}
.form-group__input:-ms-input-placeholder {
  color: #fff;
}
.form-group__icon {
  margin-right: 25px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.form-group__icon--person {
  background-image: url(../images/sprite/sprite-png.png);
  background-position: -504px -117px;
  width: 40px;
  height: 44px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .form-group__icon--person {
    background-image: url(../images/sprite/sprite-png-retina.png);
    background-size: 620px 500px;
  }
}
.form-group__icon--email {
  background-image: url(../images/sprite/sprite-png.png);
  background-position: -544px -161px;
  width: 39px;
  height: 28px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .form-group__icon--email {
    background-image: url(../images/sprite/sprite-png-retina.png);
    background-size: 620px 500px;
  }
}
.form-group__icon--tel {
  background-image: url(../images/sprite/sprite-png.png);
  background-position: -504px -161px;
  width: 40px;
  height: 40px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .form-group__icon--tel {
    background-image: url(../images/sprite/sprite-png-retina.png);
    background-size: 620px 500px;
  }
}
.form-group__icon--message {
  background-image: url(../images/sprite/sprite-png.png);
  background-position: -544px -117px;
  width: 41px;
  height: 41px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .form-group__icon--message {
    background-image: url(../images/sprite/sprite-png-retina.png);
    background-size: 620px 500px;
  }
}
.submit-btn {
  display: block;
  background: transparent;
  border: 3px solid #fff;
  border-radius: 2px;
  color: #fff;
  font-family: 'akrobatblack';
  font-size: 45px;
  text-transform: uppercase;
  padding: 0 43px;
  height: 67px;
  margin: 46px auto 0;
}
.submit-btn:hover {
  cursor: pointer;
}
